/***** Color list *****/

$primary: #ff6060;
$white: #ffffff;
$black: #000000;
$grey: #f6f6f6;
$greyStars: rgba(227, 227, 227, 1);
$gradiant: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.6)
);
