@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 113px 0;
    &__logo {
        height: 99px;
        @include desktop {
            height: 263px;
        }
    }
    &__texte {
        text-align: center;
        color: $primary;
        font-size: 18px;
        margin: 113px 37.5px;
        @include desktop {
            font-size: 36px;
        }
    }
    &__link {
        font-size: 14px;
        color: $primary;
        text-decoration: underline;
        &:hover {
            scale: 1.05;
        }
        @include desktop {
            font-size: 18px;
        }
    }
}
