@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/variables.scss";

.banner-component {
    position: relative;
    &__img {
        display: block;
        object-fit: cover;
        filter: brightness(0.7);
        width: 100%;
        height: 111px;
        border-radius: 10px;
        @include desktop {
            height: 223px;
            border-radius: 25px;
        }
    }
    &__texte {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        &--style {
            text-align: left;
            width: 217px;
            color: $white;
            font-size: 24px;
            margin-left: 16px;
            @include desktop {
                text-align: center;
                width: 100%;
                font-size: 48px;
                margin-left: 0;
            }
        }
    }
}
